@import url(./variables.css);

body {
  margin: 0;
  padding: 0;

  background-color: var(--primary-color);
}
* {
  box-sizing: border-box;
  margin: 0;
}
header {
  height: 141px;
  background-color: var(--primary-color);
}
